---
import PriceCard from '../components/PriceCard.astro';
import PriceTitle from '../components/PriceTitle.astro';
import { products2000, products4000, products6000 } from '../data/priceCardData.js';
---

<div class='p-price'>
  <div class='p-price__bg'>
  <div class='l-container'>
    <div class='p-price__category-wrapper'>
    <div class='p-price__category'>
      <PriceTitle color='main' priceLow='2,000' priceHigh='4,000' />
      <ul class='p-price__items'>
        {products2000.map((p) => (
          <PriceCard image={p.image} title={p.title} titleSub={p.titleSub} price={p.price} description={p.description} href={p.href} />
        ))}
      </ul>
    </ul>
  </div>
  <div class='p-price__category _price-4000'>
    <PriceTitle color='pink' priceLow='4,000' priceHigh='6,000' />
    <ul class='p-price__items'>
      {products4000.map((p) => (
        <PriceCard image={p.image} title={p.title} titleSub={p.titleSub} price={p.price} description={p.description} href={p.href} />
      ))}
    </ul>
  </div>
  <div class='p-price__category _price-6000'>
    <PriceTitle color='purple' priceLow='6,000' priceHigh='' />
    <ul class='p-price__items'>
      {products6000.map((p) => (
        <PriceCard image={p.image} title={p.title} titleSub={p.titleSub} price={p.price} description={p.description} href={p.href} />
      ))}
    </ul>
  </div>
</div>
</div>
</div>
