---
import SectionTitle from '../components/SectionTitle.astro';
import ItemCard from '../components/ItemCard.astro';
import { productsDelicious } from '../data/itemCardData.js';
---

<section id='delicious-items' class='p-delicious-items'>
  <header class='p-delicious-items__header'>
    <div class='p-delicious-items__header-image c-section-header__image'>
      <SectionTitle
        title='"美味しい"を贈る<br class=is-sm>おすすめアイテム'
        en='Give the gift of "delicious"'
      />
    </div>
  </header>
  <div class='l-container'>
    <div class='c-item-card__category'>
      <div class='l-inner'>
        <ul class='c-item-card__items'>
          {
            productsDelicious.map((p) => (
              <ItemCard
                image={p.image}
                title={p.title}
                titleSub={p.titleSub}
                price={p.price}
                description={p.description}
                href={p.href}
              />
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
