---
import SectionTitle from '../components/SectionTitle.astro';
import ItemCard from '../components/ItemCard.astro';
import { productsRelaxation } from '../data/itemCardData.js';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<section id='relaxation-items' class='p-relaxation-items'>
  <header class='p-relaxation-items__header'>
    <div class='p-relaxation-items__header-image c-section-header__image'>
      <SectionTitle
        title='"ほっとする"<br class=is-sm>ひとときを贈る<br class=is-sm>おすすめアイテム'
        en='Give the gift of "relaxation"'
      />
    </div>
  </header>
  <div class='l-container'>
    <div class='c-item-card__category'>
      <div class='p-relaxation-items__deco p-relaxation-items__deco--1'>
        <img src={`${imgBase}svg/relaxation-deco1.svg`} alt='' />
      </div>
      <div class='l-inner'>
        <ul class='c-item-card__items'>
          {
            productsRelaxation.map((p, index) => (
              <ItemCard
                image={p.image}
                title={p.title}
                titleSub={p.titleSub}
                price={p.price}
                description={p.description}
                href={p.href}
                class={`p-relaxation-items__item--${index + 1}`}
              />
            ))
          }
        </ul>
      </div>
      <div class='p-relaxation-items__deco p-relaxation-items__deco--2'>
        <img src={`${imgBase}svg/relaxation-deco2.svg`} alt='' />
      </div>
      <div class='p-relaxation-items__deco p-relaxation-items__deco--3'>
        <img src={`${imgBase}svg/relaxation-deco3.svg`} alt='' />
      </div>
    </div>
  </div>
</section>
